/*-----------------------
RESET
------------------------*/
/* Reset `button` and button-style `input` default styles */
@import url("https://fonts.googleapis.com/css2?family=Vollkorn&display=swap");
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0; }

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0; }

html, body, div, span, applet, object, iframe, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent; }

@-ms-viewport {
  width: device-width; }

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block; }

body {
  margin: 0;
  font-family: "Gotham Narrow", serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3;
  color: #1E3E67;
  text-align: left;
  background-color: #fff; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

[tabindex="-1"]:focus {
  outline: 0 !important; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin-bottom: 33px; }

p {
  margin-top: 0;
  margin-bottom: 32px; }

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0; }

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit; }

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem; }

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0; }

/*dt {
  font-weight: $dt-font-weight;
}*/
dd {
  margin-bottom: .5rem;
  margin-left: 0; }

blockquote {
  margin: 0 0 1rem; }

dfn {
  font-style: italic; }

b,
strong {
  font-weight: bolder; }

small {
  font-size: 80%; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

a {
  color: #084C79;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }
  a:hover {
    color: #084C79;
    text-decoration: none; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
  /* @include hover-focus {
    color: inherit;
    text-decoration: none;
  }*/ }
  a:not([href]):not([tabindex]):focus {
    outline: 0; }

pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar; }

/**
 * Add the correct font size in all browsers.
 */
small,
.small {
  font-size: 80%; }

figure {
  margin: 0 0 1rem; }

img {
  vertical-align: middle;
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

table {
  border-collapse: collapse; }

th {
  text-align: inherit; }

label {
  display: inline-block;
  margin-bottom: .6rem; }

button {
  border-radius: 0;
  cursor: pointer; }

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color; }

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0; }

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox; }

textarea {
  overflow: auto;
  resize: vertical; }

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  box-sizing: border-box;
  /* 1 */
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal; }

progress {
  vertical-align: baseline; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: textfield; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button; }

output {
  display: inline-block; }

details {
  display: block; }

summary {
  display: list-item;
  cursor: pointer; }

template {
  display: none; }

[hidden] {
  display: none !important; }

/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'Gotham Narrow';
  src: url("../fonts/GothamNarrow/gothamnarrow-book.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamNarrow/gothamnarrow-book.woff") format("woff"), url("../fonts/GothamNarrow/gothamnarrow-book.ttf") format("truetype"), url("../fonts/GothamNarrow/gothamnarrow-book.svg#bothamNarrow-book") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gotham Narrow';
  src: url("../fonts/GothamNarrow/gothamnarrow-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamNarrow/gothamnarrow-bold.woff") format("woff"), url("../fonts/GothamNarrow/gothamnarrow-bold.ttf") format("truetype"), url("../fonts/GothamNarrow/gothamnarrow-bold.svg#gothamnarrow-bold") format("svg");
  font-weight: 600;
  font-style: normal; }

html {
  font-size: 20px;
  overflow-x: hidden; }
  @media (max-width: 1699px) {
    html {
      font-size: calc(11px + .4vw); } }
  @media (max-width: 1299px) {
    html {
      font-size: calc(11px + .4vw); } }

.anchor-block {
  position: relative; }

body {
  font-size: 1rem;
  width: 100%;
  overflow-x: hidden; }

main {
  display: block;
  min-height: 100vh; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  line-height: 1;
  color: inherit; }

h1, .h1 {
  font-size: 4.5714rem;
  font-weight: 600;
  margin-bottom: 40px; }

h2, .h2 {
  font-size: 3.4285rem;
  font-weight: 600; }

h3 {
  font-size: calc(35px + (40 - 35) * ((100vw - 1200px) / (1920 - 1200)));
  margin-bottom: calc(44px + (47 - 44) * ((100vw - 1200px) / (1920 - 1200))); }

/*

h4, .h4,
.text-xl {
  font-size: 1.714rem;
}

h5, .h5 {
  font-size: 1.1428rem;
  font-weight: 700;
  letter-spacing: 2.5px;
}

h6, .h6 {
  font-size: 1rem;
}

.text-xl {
  line-height: 1.5;
}
*/
p {
  margin-top: 0;
  margin-bottom: 1rem; }
  p:last-child {
    margin-bottom: 0; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }
  a:not([href]):not([tabindex]), a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
    color: inherit;
    text-decoration: none; }
  a:hover {
    color: inherit;
    text-decoration: underline; }

ul, ol {
  margin: 0; }

svg:not(:root) {
  overflow: hidden; }

label {
  display: inline-block;
  margin-bottom: .5rem; }

button {
  border-radius: 0.2rem; }
  button:focus {
    outline: none; }

.circle {
  border-radius: 50%; }

.position-relative {
  position: relative !important; }

/*IMGS*/
.w-img {
  overflow: hidden; }
  .w-img img {
    width: 100%;
    height: auto; }
  .w-img .img-cover {
    object-fit: cover;
    min-width: 100%;
    min-height: 100%; }

.flex-column {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

/*
LAYOUTS*/
.container-fluid {
  width: 100%; }

@media (min-width: 320px) and (max-width: 991.98px) {
  .container {
    max-width: 100%; } }

/*
@media (max-width: 1360px) {
  .container-fluid, .container {
    padding-right: $grid-md-padding + px;
    padding-left: $grid-md-padding + px;
    //padding-left: calc(50px + (88 - 50) * ((100vw - 320) / (1200 - 320)));
    //padding-right: calc(50px + (88 - 50) * ((100vw - 320) / (1200 - 320)));

    & > .row {
      margin: 0 -$grid-md-padding + px;

      & > [class*="column"] {
        padding-right: $grid-md-padding + px;
        padding-left: $grid-md-padding + px;
      }
    }
  }
}*/
/*@media (min-width: 1360px) {
  .container-fluid, .container {
    padding-right: rem($grid-lg-padding);
    padding-left: rem($grid-lg-padding);

    & > .row {
      margin: 0 rem(-$grid-lg-padding);

      & > [class*="column"] {
        padding-right: rem($grid-lg-padding);
        padding-left: rem($grid-lg-padding);
      }
    }
  }
}*/
.container-fluid, .container {
  padding-right: calc(40px + (88 - 40) * ((100vw - 1200px) / (1920 - 1200)));
  padding-left: calc(40px + (88 - 40) * ((100vw - 1200px) / (1920 - 1200))); }
  .container-fluid > .row, .container > .row {
    margin: 0 calc(40px + (-88 - 40) * ((100vw - 1200px) / (1920 - 1200))); }
    .container-fluid > .row > [class*="column"], .container > .row > [class*="column"] {
      padding-right: calc(40px + (88 - 40) * ((100vw - 1200px) / (1920 - 1200)));
      padding-left: calc(40px + (88 - 40) * ((100vw - 1200px) / (1920 - 1200))); }
  @media (max-width: 1299px) {
    .container-fluid > .row, .container > .row {
      margin: -25px; } }

.container {
  width: 100%;
  margin: 0 auto; }

.row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .row.nowrap {
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap; }

@media (min-width: 1499px) {
  .text-left-grid .text-column {
    padding-left: 9.1rem !important; } }

.d-flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.d-inline-flex {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex; }

.flex-y-center {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.flex-x-center {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.column {
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 100%; }

.column-auto {
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: auto;
  max-width: none; }

.column-33 {
  width: calc(100% / 3);
  -webkit-flex-basis: calc(100% / 3);
      -ms-flex-preferred-size: calc(100% / 3);
          flex-basis: calc(100% / 3);
  max-width: calc(100% / 3); }

.column-50 {
  width: 50%;
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
  max-width: 50%; }

.column-20 {
  width: calc(100% / 5);
  -webkit-flex-basis: calc(100% / 5);
      -ms-flex-preferred-size: calc(100% / 5);
          flex-basis: calc(100% / 5);
  max-width: calc(100% / 5); }

.text-center {
  text-align: center; }

.pl-0 {
  padding-left: 0 !important; }

.pr-0 {
  padding-right: 0 !important; }

/* CHECKBOXES */
.checkbox-group {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-left: 0;
  /* Base for label styling */
  /*Joint styles*/
  /* --------- CHECKBOX STYLES ------------ */
  /* checked mark aspect */
  /* checked mark aspect changes */
  /* disabled checkbox */
  /* --------- RADIO CHECK STYLES --------- */ }
  .checkbox-group + .form-check-label {
    margin-left: 0.5rem; }
  .checkbox-group label, .checkbox-group .form-check-label {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 0; }
  .checkbox-group [type="checkbox"]:not(:checked),
  .checkbox-group [type="checkbox"]:checked,
  .checkbox-group [type="radio"]:checked,
  .checkbox-group [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px; }
  .checkbox-group [type="checkbox"]:not(:checked) + label,
  .checkbox-group [type="checkbox"]:checked + label,
  .checkbox-group [type="radio"]:checked + label,
  .checkbox-group [type="radio"]:not(:checked) + label {
    -webkit-flex-basis: calc(25px + (35 - 25) * ((100vw - 1200px) / (1920 - 1200)));
        -ms-flex-preferred-size: calc(25px + (35 - 25) * ((100vw - 1200px) / (1920 - 1200)));
            flex-basis: calc(25px + (35 - 25) * ((100vw - 1200px) / (1920 - 1200)));
    width: calc(25px + (35 - 25) * ((100vw - 1200px) / (1920 - 1200)));
    height: calc(25px + (35 - 25) * ((100vw - 1200px) / (1920 - 1200)));
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    position: relative; }
  .checkbox-group [type="checkbox"]:not(:checked) + label:before,
  .checkbox-group [type="checkbox"]:checked + label:before,
  .checkbox-group [type="radio"]:checked + label:before,
  .checkbox-group [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    width: 100%;
    height: 100%;
    border: solid 1px #CEDAE9; }
  .checkbox-group [type="checkbox"]:not(:checked) + label:before,
  .checkbox-group [type="checkbox"]:checked + label:before,
  .checkbox-group [type="checkbox"]:not(:checked) + label:after,
  .checkbox-group [type="checkbox"]:checked + label:after {
    border-radius: 0.25rem; }
  .checkbox-group [type="checkbox"]:not(:checked) + label:before,
  .checkbox-group [type="checkbox"]:checked + label:before {
    background-color: #ffffff;
    overflow: hidden; }
  .checkbox-group [type="checkbox"]:checked + label:before {
    background-color: #A7C9D9; }
  .checkbox-group [type="checkbox"]:not(:checked) + label:after,
  .checkbox-group [type="checkbox"]:checked + label:after {
    content: '\e94a';
    font-family: '-iconfont';
    color: #000;
    font-weight: bold;
    margin-left: 0.05rem;
    background-size: contain; }
  .checkbox-group [type="checkbox"]:not(:checked) + label:after,
  .checkbox-group [type="checkbox"]:checked + label:after {
    color: #000;
    position: absolute;
    left: 0.1rem;
    top: 0.1rem;
    transition: all .2s; }
  .checkbox-group [type="checkbox"]:not(:checked) + label:after,
  .checkbox-group [type="checkbox"]:checked + label:after {
    font-size: 0.65rem; }
  .checkbox-group [type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0); }
  .checkbox-group [type="checkbox"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1); }
  .checkbox-group [type="checkbox"]:disabled + label {
    color: #A5A5A5; }
  .checkbox-group [type="checkbox"]:disabled:not(:checked) + label:before,
  .checkbox-group [type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #CEDAE9;
    background-color: #CEDAE9; }
  .checkbox-group [type="checkbox"]:disabled:checked + label:after {
    color: #999; }
  .checkbox-group [type="radio"]:checked + label,
  .checkbox-group [type="radio"]:not(:checked) + label {
    cursor: pointer;
    line-height: 1rem;
    display: inline-block;
    color: #666; }
  .checkbox-group [type="radio"]:checked + label:before,
  .checkbox-group [type="radio"]:not(:checked) + label:before {
    border-radius: 50%;
    background: #CEDAE9; }
  .checkbox-group [type="radio"]:checked + label:after,
  .checkbox-group [type="radio"]:not(:checked) + label:after {
    content: '';
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    width: 100%;
    height: 100%;
    background: #55A08F;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    transition: all 0.2s ease;
    box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.25); }
  .checkbox-group [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0); }
  .checkbox-group [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1); }

/*BUTTONS*/
.btn {
  max-width: 100%;
  min-width: 12.2rem;
  font-weight: 700;
  line-height: 1.1;
  padding: 1rem;
  border: 1px solid transparent;
  border-radius: 0.2rem;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.25);
  transition: 0.2s ease-in-out; }
  .btn, .btn svg path {
    transition: 0.2s ease-in-out; }

.btn:hover, .btn:focus {
  text-decoration: none; }

.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); }

.btn-success {
  color: #fff;
  border-width: 1px;
  background-color: #55A08F;
  border-color: #55A08F; }
  .btn-success:hover, .btn-success:focus {
    background-color: inherit;
    color: #55A08F;
    border-color: #55A08F; }

.nav-link {
  padding: 0; }

/*
--------------------- PAGES ---------------------*/
.container-fluid {
  width: 100%; }

@media (min-width: 320px) and (max-width: 991.98px) {
  .container {
    max-width: 100%; } }

/*
@media (max-width: 1360px) {
  .container-fluid, .container {
    padding-right: $grid-md-padding + px;
    padding-left: $grid-md-padding + px;
    //padding-left: calc(50px + (88 - 50) * ((100vw - 320) / (1200 - 320)));
    //padding-right: calc(50px + (88 - 50) * ((100vw - 320) / (1200 - 320)));

    & > .row {
      margin: 0 -$grid-md-padding + px;

      & > [class*="column"] {
        padding-right: $grid-md-padding + px;
        padding-left: $grid-md-padding + px;
      }
    }
  }
}*/
/*@media (min-width: 1360px) {
  .container-fluid, .container {
    padding-right: rem($grid-lg-padding);
    padding-left: rem($grid-lg-padding);

    & > .row {
      margin: 0 rem(-$grid-lg-padding);

      & > [class*="column"] {
        padding-right: rem($grid-lg-padding);
        padding-left: rem($grid-lg-padding);
      }
    }
  }
}*/
.container-fluid, .container {
  padding-right: calc(40px + (88 - 40) * ((100vw - 1200px) / (1920 - 1200)));
  padding-left: calc(40px + (88 - 40) * ((100vw - 1200px) / (1920 - 1200))); }
  .container-fluid > .row, .container > .row {
    margin: 0 calc(40px + (-88 - 40) * ((100vw - 1200px) / (1920 - 1200))); }
    .container-fluid > .row > [class*="column"], .container > .row > [class*="column"] {
      padding-right: calc(40px + (88 - 40) * ((100vw - 1200px) / (1920 - 1200)));
      padding-left: calc(40px + (88 - 40) * ((100vw - 1200px) / (1920 - 1200))); }
  @media (max-width: 1299px) {
    .container-fluid > .row, .container > .row {
      margin: -25px; } }

.container {
  width: 100%;
  margin: 0 auto; }

.row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .row.nowrap {
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap; }

@media (min-width: 1499px) {
  .text-left-grid .text-column {
    padding-left: 9.1rem !important; } }

.d-flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.d-inline-flex {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex; }

.flex-y-center {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.flex-x-center {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.column {
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 100%; }

.column-auto {
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: auto;
  max-width: none; }

.column-33 {
  width: calc(100% / 3);
  -webkit-flex-basis: calc(100% / 3);
      -ms-flex-preferred-size: calc(100% / 3);
          flex-basis: calc(100% / 3);
  max-width: calc(100% / 3); }

.column-50 {
  width: 50%;
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
  max-width: 50%; }

.column-20 {
  width: calc(100% / 5);
  -webkit-flex-basis: calc(100% / 5);
      -ms-flex-preferred-size: calc(100% / 5);
          flex-basis: calc(100% / 5);
  max-width: calc(100% / 5); }

.text-center {
  text-align: center; }

.pl-0 {
  padding-left: 0 !important; }

.pr-0 {
  padding-right: 0 !important; }

a {
  transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
  color: inherit; }
  a:hover {
    text-decoration: none; }

.section {
  padding-top: 3.6428rem; }

.grid-row {
  margin-bottom: 100px; }
  .grid-row:last-child {
    margin-bottom: 0; }
  .grid-row .grid-item {
    width: 100%;
    margin-bottom: 16px; }
  .grid-row .slider-col {
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1; }
  @media (min-width: 768px) {
    .grid-row {
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      margin-bottom: 16.7857rem; }
      .grid-row .grid-item {
        -webkit-flex: 0 0 70%;
            -ms-flex: 0 0 70%;
                flex: 0 0 70%;
        max-width: 70%; }
        .grid-row .grid-item.txt-info-col {
          -webkit-flex: 0 0 30%;
              -ms-flex: 0 0 30%;
                  flex: 0 0 30%;
          max-width: 30%;
          -webkit-order: initial;
              -ms-flex-order: initial;
                  order: initial; }
        .grid-row .grid-item.slider-col {
          -webkit-order: initial;
              -ms-flex-order: initial;
                  order: initial; } }
  @media (min-width: 576px) {
    .grid-row .grid-item {
      -webkit-flex: 0 0 60%;
          -ms-flex: 0 0 60%;
              flex: 0 0 60%;
      max-width: 60%; }
      .grid-row .grid-item.txt-info-col {
        -webkit-flex: 0 0 40%;
            -ms-flex: 0 0 40%;
                flex: 0 0 40%;
        max-width: 40%; } }

.page-wrapper {
  min-height: 100vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.page-sections {
  position: relative;
  width: calc(100% - 15.15rem); }

.full-height-section {
  min-height: 100vh; }

.section-item {
  position: relative;
  padding: calc(35px + (50 - 35) * ((100vw - 1200px) / (1920 - 1200))) 0; }
  .section-item.light-content {
    color: #fff; }

p, .desc {
  font-size: calc(14px + (20 - 14) * ((100vw - 1200px) / (1920 - 1200)));
  line-height: calc(21px + (24 - 21) * ((100vw - 1200px) / (1920 - 1200))); }
  p + .w-select, p + .btn, .desc + .w-select, .desc + .btn {
    margin-top: 2rem; }

.pre-heading {
  font-family: 'Vollkorn', serif;
  font-size: calc(27px + (40 - 27) * ((100vw - 1200px) / (1920 - 1200)));
  line-height: calc(35px + (56 - 35) * ((100vw - 1200px) / (1920 - 1200)));
  margin-bottom: calc(5px + (3 - 5) * ((100vw - 1200px) / (1920 - 1200))); }

.section-title {
  line-height: 1;
  text-transform: uppercase;
  font-size: calc(45px + (80 - 45) * ((100vw - 1200px) / (1920 - 1200)));
  margin-bottom: calc(25px + (40 - 25) * ((100vw - 1200px) / (1920 - 1200))); }

/*SIDEBAR*/
.main-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  width: 15.15rem;
  color: #084C79;
  margin: 0;
  padding: 3.95rem 2.25rem 3.95rem 2.25rem;
  box-shadow: 0.3rem 0.2rem 1rem rgba(0, 0, 0, 0.25);
  background: #FFFFFF;
  z-index: 100;
  transition: opacity .5s; }
  .main-nav .logo {
    width: 9.8rem;
    min-height: 5.55rem;
    margin-bottom: 7rem; }
    .main-nav .logo img {
      max-width: 100%; }

.main-nav__list {
  list-style: none; }

.main-nav__list-item:first-child .main-nav__link {
  padding-top: 0; }

.main-nav__list-item:last-child .main-nav__link:after {
  content: none; }

.main-nav__link {
  position: relative;
  display: inline-block;
  font-size: 1rem;
  padding-left: 1.8rem;
  padding-bottom: 3.55rem; }
  .main-nav__link > span:not(.main-nav-menu-dot) {
    border-bottom: 0.2rem solid transparent; }
  .main-nav__link:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    left: 0.675rem;
    top: 0.675rem;
    background-color: #B6B6B6;
    z-index: -1; }
  .main-nav__link.active {
    font-weight: bold; }
    .main-nav__link.active > span:not(.main-nav-menu-dot) {
      border-color: #C45D62; }
    .main-nav__link.active .main-nav-menu-dot:before {
      border-width: 0.3rem; }

.main-nav-menu-dot {
  position: absolute;
  left: 0;
  top: 2px;
  width: 1.35rem;
  height: 1.35rem;
  border-radius: 50%;
  background-color: #fff;
  z-index: 0; }
  .main-nav-menu-dot:before {
    content: '';
    position: absolute;
    width: 1.05rem;
    height: 1.05rem;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 50%;
    border: 1px solid #658CAA; }

.has-next-step-btn {
  position: relative;
  padding-bottom: 5.6rem; }

.next-step__btn-row {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }

.next-step__btn {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 12.2rem;
  min-height: 5.6rem;
  padding-top: 1.5rem;
  background-color: #55A08F; }
  .next-step__btn .icon {
    margin-top: 0.45rem; }
    .next-step__btn .icon svg {
      width: 1.25rem; }
  .next-step__btn:hover svg path {
    fill: #55A08F; }

.w-select {
  width: auto !important; }

.custom-select {
  min-width: 18.35rem; }
  .custom-select .select2-container {
    min-width: 18.35rem; }
  .custom-select .select2-container .select2-selection--single {
    height: 3.15rem;
    background-color: #C45D62;
    border-radius: 0.2rem;
    border-color: #C45D62; }
  .custom-select .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 3.15rem;
    padding-right: 1.75rem;
    padding-left: 1.15rem; }
  .custom-select .select2-container--default .select2-selection--single .select2-selection__rendered,
  .custom-select .select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #fff;
    font-weight: bold; }
  .custom-select .select2-container--default .select2-selection--single .select2-selection__arrow {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    width: 0.85rem;
    top: 50%;
    right: 1rem;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
  .custom-select .select2-container--default .select2-selection--single .select2-selection__arrow b {
    position: relative;
    top: 1px;
    margin: 0;
    border-color: #fff transparent transparent transparent;
    border-style: solid;
    border-width: 0.8rem 0.4rem 0 0.4rem; }

.reimagined-sec-1 {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3.2rem 0;
  background: no-repeat url("../img/png/sec1-bg.png");
  background-size: contain;
  background-position: left 130%; }
  @media (max-height: 1200px) {
    .reimagined-sec-1 {
      background-size: 100%; } }
  @media (max-width: 1699px) {
    .reimagined-sec-1 {
      background-size: cover; } }
  .reimagined-sec-1:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 0;
    width: 80%;
    max-width: 39.65rem;
    height: 100%;
    background: no-repeat url("../img/png/sec1-img.png");
    background-size: 100%;
    background-position: 0 3.2rem;
    z-index: 0; }
    @media (max-width: 1699px) {
      .reimagined-sec-1:before {
        background-position: right center; } }
    @media (max-height: 1000px) {
      .reimagined-sec-1:before {
        background-position: right center;
        background-size: contain; } }
  .reimagined-sec-1 .text-column {
    position: relative;
    padding-left: 4rem;
    z-index: 3; }
    .reimagined-sec-1 .text-column .w-select {
      width: 18.35rem; }
  .reimagined-sec-1 .column-content__wrap {
    max-width: 39.3rem; }
  @media (min-width: 1699px) {
    .reimagined-sec-1 .text-column {
      padding-left: 182px; } }

.reimagined-sec-2 {
  background-color: #DBB072;
  padding-top: 17.5rem;
  padding-bottom: 8.5rem; }
  .reimagined-sec-2:before, .reimagined-sec-2:after {
    content: '';
    position: absolute; }
  .reimagined-sec-2:before {
    position: absolute;
    top: -0.15rem;
    left: 0;
    right: 0;
    height: 100%;
    min-height: 42.5rem;
    background: no-repeat url("../img/png/sec2-top-bg.png");
    background-size: 100%;
    z-index: 0; }
    @media (max-width: 1699px) {
      .reimagined-sec-2:before {
        background-size: 100%; } }
  .reimagined-sec-2 .column {
    z-index: 3; }
  .reimagined-sec-2 .section-img__group {
    position: relative;
    width: 28.05rem;
    height: 28.05rem; }
    .reimagined-sec-2 .section-img__group:before {
      content: '';
      position: absolute;
      top: 1.1rem;
      right: 1.1rem;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: #CEDAE9; }
    @media (max-width: 1299px) {
      .reimagined-sec-2 .section-img__group {
        max-width: 100%;
        height: auto; } }
  .reimagined-sec-2 .section-img {
    position: relative;
    width: 100%;
    height: 100%; }
  .reimagined-sec-2 .text-column .custom-select .select2-container {
    min-width: 26.15rem;
    width: auto !important; }
  @media (max-width: 1299px) {
    .reimagined-sec-2 [class*="column"] {
      max-width: 50%; } }

/*W ORKSCAPES */
.workspaces-holder {
  background-image: url("../img/png/workspaces-top-bg.png");
  background-size: contain;
  background-position: right -3rem;
  background-repeat: no-repeat;
  overflow: hidden;
  padding-bottom: 6.75rem; }
  .workspaces-holder .next-step__btn-row {
    width: 100%;
    background-color: #D9DDDE;
    padding: 0.35rem 0; }

.workspaces-sec-1 {
  padding: 5rem 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (min-width: 1300px) {
    .workspaces-sec-1 .text-column {
      padding-left: calc(40px + (182 - 40) * ((100vw - 1200px) / (1920 - 1200))) !important; } }

.img-circle-txt__group {
  position: relative; }
  .img-circle-txt__group:before {
    content: '';
    position: absolute;
    left: -35px;
    bottom: 0;
    width: 100%;
    height: 95%;
    background: no-repeat url("../img/png/workspaces-puzzles.png");
    background-position: 0 center;
    background-size: contain;
    z-index: 0; }
  .img-circle-txt__group .circle-text {
    position: relative;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: calc(350px + (508 - 350) * ((100vw - 1200px) / (1920 - 1200)));
    height: calc(350px + (508 - 350) * ((100vw - 1200px) / (1920 - 1200)));
    color: #fff;
    font-size: 20px;
    line-height: 24px;
    border-radius: 50%;
    padding: calc(43px + (57 - 43) * ((100vw - 1200px) / (1920 - 1200)));
    background-color: #658CAA;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.25); }
    .img-circle-txt__group .circle-text._white {
      color: inherit;
      background-color: #fff !important; }
    @media (max-width: 1499px) {
      .img-circle-txt__group .circle-text {
        font-size: calc(14px + (20 - 14) * ((100vw - 1200px) / (1920 - 1200))); } }
    .img-circle-txt__group .circle-text .title {
      text-align: center;
      font-size: 2rem;
      margin-bottom: 1rem; }
  .img-circle-txt__group .section-img {
    position: relative;
    max-width: calc(350px + (455 - 350) * ((100vw - 1200px) / (1920 - 1200)));
    margin-top: -5rem;
    margin-left: 6.1rem; }
    .img-circle-txt__group .section-img .w-img, .img-circle-txt__group .section-img:before {
      border-radius: 0.2rem; }
    .img-circle-txt__group .section-img:before {
      content: '';
      position: absolute;
      top: 0.9rem;
      right: -0.9rem;
      width: 100%;
      height: 100%;
      background-color: #C45D62; }
    .img-circle-txt__group .section-img._red-bg {
      background-color: #CEDAE9; }
    .img-circle-txt__group .section-img .w-img {
      position: relative; }

.furniture-sec-1, .furniture-sec-2 {
  background-color: #EDC489; }

.furniture-sec-1 {
  background-image: url("../img/png/furniture-top-bg-light.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center; }

.submission-holder {
  position: relative; }
  .submission-holder .bg-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0; }
    .submission-holder .bg-layer > *, .submission-holder .bg-layer:before, .submission-holder .bg-layer:after {
      position: absolute; }
    .submission-holder .bg-layer .puzzle-img {
      top: 50%;
      right: 5.3rem;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      z-index: 2; }
      .submission-holder .bg-layer .puzzle-img img {
        max-width: calc(170px + (306 - 170) * ((100vw - 1200px) / (1920 - 1200)));
        max-height: 95vh;
        width: auto;
        /* object-fit: contain;
        max-height: 100%;*/ }
    .submission-holder .bg-layer:before, .submission-holder .bg-layer:after {
      content: ''; }
    .submission-holder .bg-layer:before {
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      background: no-repeat url("../img/png/last-section-top-bg_2.png");
      background-size: 100%;
      z-index: 1; }
    .submission-holder .bg-layer:after {
      right: calc(100px + (270 - 100) * ((100vw - 1200px) / (1920 - 1200)));
      top: calc(200px + (55 - 200) * ((100vw - 1200px) / (1920 - 1200)));
      width: calc(320px + (500 - 320) * ((100vw - 1200px) / (1920 - 1200)));
      height: calc(320px + (500 - 320) * ((100vw - 1200px) / (1920 - 1200)));
      border-radius: 50%;
      background: no-repeat url("../img/png/submission-circle-img.png");
      background-size: contain;
      overflow: hidden;
      z-index: 0; }
  .submission-holder .content-holder {
    z-index: 2; }
  .submission-holder .text-column {
    max-width: 60%; }
    .submission-holder .text-column .column-content__wrap {
      width: 100%;
      max-width: 516px; }

.card {
  border-radius: 0.2rem; }

.card-primary .card-header, .card-primary .card-footer {
  color: #fff;
  background-color: #658CAA; }

.card-body {
  min-height: 10rem; }

.card-header {
  min-height: 4.6rem; }
  .card-header .card-title {
    margin-bottom: 0; }

.card-header, .card-footer {
  padding: calc(21px + (24 - 21) * ((100vw - 1200px) / (1920 - 1200))) calc(15px + (21 - 15) * ((100vw - 1200px) / (1920 - 1200))); }

.card-footer {
  padding-top: calc(23px + (27 - 23) * ((100vw - 1200px) / (1920 - 1200)));
  padding-bottom: calc(23px + (35 - 23) * ((100vw - 1200px) / (1920 - 1200))); }

.workspaces-feedback__holder .grid {
  margin-right: -0rem;
  margin-left: -0rem; }
  .workspaces-feedback__holder .grid > [class*="column-"],
  .workspaces-feedback__holder .grid > [class*="column"] {
    padding-right: 0rem;
    padding-left: 0rem; }

.workspaces-feedback__holder .carousel-preview__main-img {
  margin-bottom: 1.1rem;
  overflow: hidden; }

.workspaces-feedback__holder .carousel-preview__thumbnails {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: -0.15rem; }
  .workspaces-feedback__holder .carousel-preview__thumbnails .thumbnail {
    width: calc(100% / 3);
    color: #fff;
    padding: 0.15rem; }
    .workspaces-feedback__holder .carousel-preview__thumbnails .thumbnail.active .title {
      background-color: #C45D62; }
  .workspaces-feedback__holder .carousel-preview__thumbnails .thumbnail-inner {
    height: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .workspaces-feedback__holder .carousel-preview__thumbnails .title {
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    min-height: 1.95rem;
    text-align: center;
    font-size: calc(14px + (19 - 14) * ((100vw - 1200px) / (1920 - 1200)));
    line-height: calc(21px + (24 - 21) * ((100vw - 1200px) / (1920 - 1200)));
    padding: 0.35rem 0.3rem;
    background-color: #658CAA; }
  .workspaces-feedback__holder .carousel-preview__thumbnails .media-holder {
    height: 3.35rem; }

.workspaces-feedback__step + .workspaces-feedback__step {
  margin-top: 6.6rem; }

.preview-column {
  max-width: 32.35rem; }
  @media (max-width: 1299px) {
    .preview-column {
      margin-bottom: 2.5rem; } }

.preview-column__option-holder + .preview-column__option-holder {
  margin-top: 0.9rem; }

.preview-column__option-holder > * {
  min-height: 6.45rem; }

.preview-column__option-holder .color-box {
  width: calc(130px + (210 - 180) * ((100vw - 1200px) / (1920 - 1200)));
  -webkit-flex-basis: calc(130px + (210 - 180) * ((100vw - 1200px) / (1920 - 1200)));
      -ms-flex-preferred-size: calc(130px + (210 - 180) * ((100vw - 1200px) / (1920 - 1200)));
          flex-basis: calc(130px + (210 - 180) * ((100vw - 1200px) / (1920 - 1200)));
  max-width: calc(130px + (210 - 180) * ((100vw - 1200px) / (1920 - 1200)));
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0; }

.preview-column__option-holder .text-box {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: calc(30px + (40 - 30) * ((100vw - 1200px) / (1920 - 1200)));
  line-height: 1.2;
  color: #fff;
  padding: 0.95rem 0.75rem;
  border-radius: 0.3rem;
  margin-left: -0.15rem;
  background-color: #658CAA; }

.fb-options {
  max-width: 34.8rem;
  width: 50%;
  padding-top: 6.15rem; }
  .fb-options .btn-row + .carousel-nav__holder {
    margin-top: 8.65rem; }
  .fb-options .options-holder {
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin: -0.8rem 0 calc(70px + (103 - 70) * ((100vw - 1200px) / (1920 - 1200))); }
    .fb-options .options-holder .option-item {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 0.8rem; }
      .fb-options .options-holder .option-item.active .option-radio {
        background-color: #55A08F;
        box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.25); }
    .fb-options .options-holder .form-check {
      margin-bottom: 1.1rem; }
    .fb-options .options-holder .option-text {
      color: #084C79; }

.fb-options__title {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 21.9rem;
  font-weight: bold;
  color: #205392;
  margin: 0 auto 2.65rem; }
  .fb-options__title .count {
    margin-right: 0.25rem; }

.carousel-nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .carousel-nav .nav-dot {
    width: 3.7rem;
    height: 0.8rem;
    background-color: #C0D2E9; }
    .carousel-nav .nav-dot.active {
      background-color: #658CAA; }
    .carousel-nav .nav-dot + .nav-dot {
      margin-left: 0.75rem; }

.separator-color .option-text, .workstation-height .option-text {
  max-width: 10.6rem; }

.workstation-height .preview-column__image-group {
  position: relative; }
  .workstation-height .preview-column__image-group:before {
    content: '';
    position: absolute;
    top: -1.3rem;
    left: 1.3rem;
    width: 100%;
    height: 100%;
    background-color: #CEDAE9; }
  .workstation-height .preview-column__image-group .w-img {
    position: relative;
    z-index: 2; }

.collaboration-holder {
  position: relative;
  background-color: #BAD9F0;
  background-image: url("../img/png/colaboration-puzzles-bottom-bg_2.png"), url("../img/png/colaboration-bottom-bg.png");
  background-position: center 98%, right bottom;
  background-size: 100%, 109%;
  background-repeat: no-repeat, no-repeat;
  padding-bottom: 14.9rem; }
  .collaboration-holder > .section-item:first-child {
    padding-top: 8.5rem; }
    .collaboration-holder > .section-item:first-child:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      height: 6.85rem;
      width: 100%;
      background: no-repeat #D9DDDE url("../img/png/colaboration-top-bg.png");
      background-position: bottom right; }
  .collaboration-holder .heading-section .text-left-grid .image-column {
    padding-left: 0 !important; }
  .collaboration-holder .img-circle-txt__group:before {
    width: 38.7rem;
    height: 21.1rem;
    top: -2.7rem;
    left: 0;
    background-image: url("../img/png/colaboration-puzzles.png"); }
  .collaboration-holder .img-circle-txt__group .section-img:before {
    background-color: #C45D62; }
  .collaboration-holder .image-column {
    position: relative; }
  .collaboration-holder .next-step__btn-row {
    bottom: 1.85rem; }

.alert-holder__group {
  position: relative; }
  .alert-holder__group .float-img-layer {
    position: absolute;
    top: 0.5rem;
    right: -5rem;
    width: calc(500px + (687 - 500) * ((100vw - 1200px) / (1920 - 1200)));
    height: calc(500px + (784 - 500) * ((100vw - 1200px) / (1920 - 1200)));
    background: no-repeat url("../img/png/collaboration-alert-puzzle.png");
    background-size: contain;
    z-index: 0; }
  .alert-holder__group .alert-holder {
    z-index: 1; }

.bg-blue {
  background-color: #BAD9F0; }

/*.feedback-section__container {

}*/
.rate-feedback-section + .rate-feedback-section {
  margin-top: calc(90px + (151 - 90) * ((100vw - 1200px) / (1920 - 1200))); }

.rate-feedback-section .grid {
  margin-right: -2.35rem;
  margin-left: -2.35rem; }
  .rate-feedback-section .grid > [class*="column-"],
  .rate-feedback-section .grid > [class*="column"] {
    padding-right: 2.35rem;
    padding-left: 2.35rem; }

.rate-feedback-section .preview-column {
  max-width: none; }
  .rate-feedback-section .preview-column .card {
    max-width: 32.35rem; }

.rate-feedback-section .card-header {
  text-align: left;
  min-height: 8.8rem;
  color: inherit;
  padding: 1rem 2.5rem;
  background-color: #fff;
  border-radius: 0.2rem 0.2rem 0 0; }

.rate-feedback-section .card-title {
  text-align: left;
  margin-bottom: 0.65rem; }

.rate-feedback-section .fb-options {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0; }
  .rate-feedback-section .fb-options .column-inner {
    max-width: 24.15rem; }

.rate-feedback-section .fb-options__item + .fb-options__item {
  margin-top: 2.65rem; }

.rate-feedback-section .fb-options__title {
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 1.15rem; }

.rate-feedback-section .options-holder {
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0; }
  .rate-feedback-section .options-holder .option-item {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 4rem;
    max-width: 4rem;
    height: 2.4rem;
    color: #414141;
    padding: 0.15rem 0.25rem;
    background-color: #fff;
    border-radius: 0.2rem; }
    .rate-feedback-section .options-holder .option-item.active {
      color: #fff !important;
      background-color: #55A08F !important;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
    .rate-feedback-section .options-holder .option-item + .option-item {
      margin-left: 1.05rem; }

.rate-feedback-section textarea {
  width: 100%;
  height: 6.55rem;
  padding: 0.55rem;
  border-radius: 0.2rem;
  background-color: #fff;
  border: none; }
  .rate-feedback-section textarea::-webkit-input-placeholder {
    color: #A1A1A1;
    font-style: italic; }
  .rate-feedback-section textarea:-moz-placeholder {
    /* Firefox 18- */
    color: #A1A1A1;
    font-style: italic; }
  .rate-feedback-section textarea::-moz-placeholder {
    /* Firefox 19+ */
    color: #A1A1A1;
    font-style: italic; }
  .rate-feedback-section textarea:-ms-input-placeholder {
    color: #A1A1A1;
    font-style: italic; }

.rate-feedback-section.primary-view .card-header {
  color: #fff;
  background-color: #658CAA; }

.rate-feedback-section.primary-view .options-holder .option-item {
  color: #084C79;
  background-color: #CEDAE9; }

.rate-feedback-section.primary-view textarea {
  background-color: #CEDAE9; }
  .rate-feedback-section.primary-view textarea::-webkit-input-placeholder {
    color: #205392;
    font-style: italic; }
  .rate-feedback-section.primary-view textarea:-moz-placeholder {
    /* Firefox 18- */
    color: #205392;
    font-style: italic; }
  .rate-feedback-section.primary-view textarea::-moz-placeholder {
    /* Firefox 19+ */
    color: #205392;
    font-style: italic; }
  .rate-feedback-section.primary-view textarea:-ms-input-placeholder {
    color: #205392;
    font-style: italic; }

.collaboration-feedback {
  padding-top: 7.55rem; }

.alert-holder {
  position: relative;
  min-height: calc(270px + (364 - 270) * ((100vw - 1200px) / (1920 - 1200)));
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.3rem;
  margin: 7.55rem auto; }
  .alert-holder .title {
    margin-bottom: 1.25rem; }
  .alert-holder._success {
    color: #fff;
    background-color: #55A08F; }
  .alert-holder._lg {
    max-width: 48.85rem;
    padding: 4.25rem 8.4rem; }
    @media (min-width: 1500px) {
      .alert-holder._lg {
        margin-left: 4rem; } }

.private-spaces__holder .text-left-grid .image-column {
  padding-left: 0 !important; }

.private-spaces__holder .heading-section .img-circle-txt__group:before {
  width: 17.7rem;
  height: 17.35rem;
  right: -2.5rem;
  left: auto;
  top: -1.5rem;
  background: no-repeat url("../img/png/privat-image-column-puzzle.png");
  background-size: contain; }

.private-spaces__holder .heading-section .section-img {
  margin-left: 4rem; }
  .private-spaces__holder .heading-section .section-img .bege-bg-layer {
    position: absolute;
    right: -4.5rem;
    width: 26.2rem;
    height: 4.65rem;
    background: no-repeat url("../img/png/bege-rectangle.png");
    background-size: contain;
    z-index: 2; }
  .private-spaces__holder .heading-section .section-img .w-img {
    position: relative;
    z-index: 3; }

.private-feedback {
  padding-top: 7rem; }

@media (min-width: 992px) {
  .mob-button {
    display: none; } }

@media (max-width: 767.98px) {
  .row > [class*="col-12"] {
    margin-bottom: 1rem; }
  .imgs-grid .grid-item img {
    max-height: 60vw; } }

/*# sourceMappingURL=maps/main.css.map */
